* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
body {
  background-color: $gray;
}

table {
  border-collapse: collapse;
  width: 100%;
}

ul {
 list-style: none; 
}

select {
  box-shadow: none;
  appearance: none;
  outline: none;
  width: 100%;
  color: $dark !important;
  padding:0.5rem 1rem;
  font-size: 1rem;
  background-color: $white;
  background-image:url(../img/arrow.png) !important;
  background-repeat: no-repeat !important;
  background-size: 12px !important;
  background-position: 95% 50% !important;
}